<nav class="topnav">
    <div class="nav-container">
        <div class="nav-left">
            <a href="/" class="nav-brand">
                <span>CodeClash</span>
            </a>
        </div>
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="/about/">About</a></li>
                <li><a href="/arenas/">Arenas</a></li>
                <li><a href="">Docs</a></li>
                <li><a href="/insights/">Insights</a></li>
                <li><a href="/team/">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
