{% extends "base.html" %}

{% block content %}
<div class="hero">
    <img src="/static/images/logos/clash_g.svg" alt="Clash Green">
    <h1>Arenas</h1>
    <img src="/static/images/logos/clash_r.svg" alt="Clash Red">
</div>

<div class="arenas-container">
    <div class="arenas-grid">
        {%- for page in pages | sort(attribute='title') %}
        <a href="{{ url_for("page", path=page.path) }}">
            <div class="arena-card">
                <p class="arena-title">
                    <img
                        src="{{ page.logo }}"
                        alt="{{ page.title }}"
                        class="img-inline"
                        style="height:1.5rem;margin-right: 0em;"
                    > {{ page.title }}
                </p>
                <p style="margin: 0.35em 0 0.65em 0;width:80%;">{{ page.description }}</p>
            </div>
        </a>
        {%- endfor %}
    </div>
</div>

{% endblock content %}
