{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Code Arenas</h1>
</div>

<div class="arenas-container">
    <div class="arenas-grid">
        {%- for page in pages | sort(attribute='title') %}
        <a href="{{ url_for("page", path=page.path) }}">
            <div class="arena-card">
                <img src="{{ page.image }}" alt="{{ page.title }}">
                <b>{{ page.title }}</b>
                <p style="margin: 0.5em auto;width:90%;">{{ page.description }}</p>
            </div>
        </a>
        {%- endfor %}
    </div>
</div>

{% endblock content %}
