{% extends "base.html" %}

{% block content %}
  <div class="hero">
    <img src="/static/images/logos/clash_g.svg" alt="Clash Green">
    <h1>Insights</h1>
    <img src="/static/images/logos/clash_r.svg" alt="Clash Red">
  </div>

  <div class="insights-container">
    {% for page in pages | sort(attribute='date', reverse=True) %}
      <div class="insight-card">
        <a href="{{ url_for("page", path=page.path) }}">
          <p class="insight-title">{{ page.title }}</p>
          <p><span class="subtext">{{ page.date }}</span> &bull; {{ page.description }}</p>
          <p>by {{ page.authors }}</p>
        </a>
      </div>
    {% else %}
      No posts yet!
    {% endfor %}
  </div>

{% endblock content %}
