{% extends "base.html" %}

{% block content %}
<br>
<div style="text-align:center;">
  <h2>{{ page.title }}</h2>
  <p class="subtext">{{ page.description }}</p>
  <span>
  {% if page.date %}{{ page.date | format_timestamp }} &bull;{% endif %}
  {% if page.authors %}
    by 
    {% set author_list = page.authors.split(', ') %}
    {% for author in author_list %}
      <a href="{{ url_for('team') }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
  </span>
</div>
<br>
<hr />

<div class="insight-page">
  {{page.html|safe}}
</div>
{% endblock content %}
